/*form {
    display: block;
}*/

* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: lightblue;
    font-style: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;    
    border: solid 1px grey;
    border-radius: 20px;
}

form {
    background-color: #f0f0f0;
    width: 40%;
    margin: auto;
    padding: 2em;
    margin-top: 1em;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

input {
    width: 100%;
    border-radius: 5px;
}
