@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


body {background-color:	#FBEAEB;}

button, input {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.img_principal {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.avatar1,.avatar2,.avatar3 {width: 100px;border: 2px solid black;border-radius: 10px;}


#informacion,#noticias {text-align: center;width: 80%;margin: auto;}

h3 {text-align: center;}

#comentarios {display: flex;justify-content: center;}

p {text-align: center;background-color: lightgrey;color: #04146C;font-family: 'Poppins', sans-serif;font-size: 22px;}

#h3_comentarios {color: #0a2ff1;margin: 20px;}


h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #0a2ff1;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #04146C;
}

input, #boton_form {
    border: 1px solid #04146c;
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}

#boton_form, input {display: block;}



#boton_form {
    color: white;
    background-color: #0a2ff1;
    font-weight: 600;
}

form {
    border-bottom: 1px solid #04146c;
    padding-bottom: 10px;
    width: 500px;
    margin: auto; 
}

#noticias {padding: 80px;}

footer {padding: 40px;}

#copy {background-color: #FBEAEB;}

/* boton facha */

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0a2ff1;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }